bin
Release
Debug
nbproject
.settings
dep
eeprom.bin
*.o
*.so
*.lss
*.hex
*.elf
*.eep
*.map
*.uze
*.dll
*.exe

*.log
*.bak
gdb-script.cfg
tools/uzem/uzem
tools/uzem/uzem.*
tools/uzem/uzemdbg
tools/uzem/uzemdbg.*
